:root {
  --text: #020727;
  --background: #a9bde0;
}

body {
  color: var(--text);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

#container {
  display: flex;
}

#h1-div {
  justify-content: center;
}

h1 {
  text-align: center;
  display: block;
  width: 30%;
  margin: 4rem auto;
  padding: 1rem;
  border: solid var(--text) 0.3rem;
}

input[type="text"] {
  margin: 0.5rem;
}

input[type="submit"] {
  padding: 0.8rem;
  margin: 0.8rem;
}

.divs-exercises {
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: solid var(--text) 0.2rem;
  box-shadow: 0.45rem 0.45rem var(--text);
  margin: 1rem;
  padding: 1rem;
}
